@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" IsDarkMode="@_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Success">
        <MudToggleIconButton @onclick="DrawerToggle"
                             Icon="@Icons.Material.Filled.Menu"
                             Color="Color.Dark"
                             ToggledIcon="@Icons.Material.Filled.MenuOpen"
                             ToggledTitle="Esconder Menu"
                             ToggledColor="Color.Inherit"
                             Edge="Edge.Start"
                             Toggled="@_drawerOpen" />


        <MudContainer>
            <div class="d-flex justify-center align-center">
                <MudText Typo="Typo.h5" Align="Align.Center">
                    <MudElement HtmlTag="b"
                                Style="font-size: 60px;">
                        Simulador Prova
                    </MudElement>
                </MudText>
            </div>
        </MudContainer>

        <MudSpacer />
        <MudToggleIconButton @bind-Toggled="@_isDarkMode" Icon="@Icons.Material.Filled.DarkMode"
                             Title="Modo Escuro" Color="Color.Dark"
                             ToggledIcon="@Icons.Material.Filled.LightMode"
                             ToggledColor="Color.Inherit"
                             ToggledTitle="Modo Claro" />

        <MudLink Color="Color.Dark" href="https://github.com/Davi-Damartes">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" Color="Color.Inherit" />
        </MudLink>
        <MudLink Color="Color.Dark" href="https://www.linkedin.com/in/davi-lima-643870313/">
            <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Title="LinkedIn" Color="Color.Info" />
        </MudLink>
        <MudLink Color="Color.Dark" href="mailto:davi.damartes@Gmail.com">
            <MudIconButton Icon="@Icons.Custom.Brands.Gmail" Title="Gmail" Color="Color.Error" />
        </MudLink>

    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu></NavMenu>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    private bool _isDarkMode = true;
    private MudThemeProvider? _mudThemeProvider;

    void DrawerToggle( )
    {
        _drawerOpen = !_drawerOpen;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider!.GetSystemPreference();
            _isDarkMode = false;
            StateHasChanged();
        }
    }

}
