@page "/CriarProva"

<MudPaper Class="mt-3" Height="700px;" Width="100%;" Style="@($"color:{Colors.Green.Accent2};")">
    <MudContainer MaxWidth="MaxWidth.Large" Class="mud-theme-info; border-radius: 15px">

        <MudText Typo="Typo.h3" Color="Color.Info"
                 Class="d-flex align-center justify-center">
                Criar Prova
        </MudText>  
        
        <MudForm @ref="@form" @bind-IsValid="@success" @bind-Errors="@errors">  

            <div class="mb-3">
                <MudTextField @bind-Value="@Prova.NomeProfessor" Required="true"
                              T="string" 
                              Label="Nome Professor"                         
                              RequiredError="Campo Obrigatório!"
                              />
            </div>

            <div class="mb-3">
            <MudNumericField @bind-Value="@Prova.QuantidadeAlunos"
                             T="int" Label="Quantidade Alunos"
                             Required="true"
                             RequiredError="Campo Obrigatório!"
                             HelperText="Minímo 5 Máximo 30 Alunos!"
                             Validation="@(new RangeAttribute(5,30)
                             {ErrorMessage= "Valores entre 5 e 30 Disponíveis!"})"
                             />
            </div>

            <div class="mb-3">
            <MudNumericField @bind-Value="@Prova.QuantidadePerguntas" Required="true"
                                 T="int" Label="Quantidade de Perguntas"                      
                                 HelperText="Minímo 3 Máximo 10 Perguntas!"
                                 RequiredError="Campo Obrigatório!"
                                 Validation="@(new RangeAttribute(3,10)
                                 {ErrorMessage= "Valores entre 3 e 10 Disponíveis!"})" />
            </div>

            <MudSelect T="ETipoProva" @bind-Value="@Prova.TipoProva" 
                       Label="Selecione Matéria da Prova" AnchorOrigin="Origin.BottomCenter" 
                       Variant="Variant.Outlined" Clearable
                       OpenIcon="@Icons.Material.Filled.MenuBook" AdornmentColor="Color.Tertiary">

                        @foreach (ETipoProva tipo in Enum.GetValues(typeof(ETipoProva)))
                        {
                        <MudSelectItem Value="@(tipo)">@tipo</MudSelectItem>
                        }

            </MudSelect>
           
            <div class="mt-5 butoes-Validacao">
                <MudButton Variant="Variant.Filled" Color="Color.Info" DisableElevation="true"
                            OnClick="@(()=>form.Validate())">
                            Validar Campos
                 </MudButton>

                <MudButton Variant="Variant.Filled" Color="Color.Warning" 
                            DisableElevation="true" OnClick="@(()=>form.ResetAsync())" Class="mx-2">
                            Limpar formulário
                </MudButton>

            </div>

            <div class="d-flex mt-5">
                <MudCheckBox T="bool" Required="true"
                             Color="Color.Success"
                             RequiredError="Campo Obrigatório" UnCheckedColor="Color.Success"
                             Label="Termos de Uso!" />
                           

                <MudButton OnClick="@(()=> EnviarProva())"  Variant="Variant.Filled" Color="Color.Primary" 
                             Disabled="@(!success)" Class="ml-auto">
                             Enviar Formulário                
                </MudButton>
            </div>
        </MudForm> 
    </MudContainer>
</MudPaper>



@code{
    bool success;

    string[] errors = { };

    MudForm form = new MudForm();

    private MudTheme Theme = new MudTheme();


    public Prova Prova { get; set; } = new Prova();

    public Pergunta Pergunta { get; set; } = new Pergunta();

    ETipoProva ETipoProva;

    public string? perguntaAtual { get; set; }

    public string ErroMessage { get; set; } = string.Empty;

    private void EnviarProva( )
    {
        
    }

    // private void OnValidSubmit( )
    // {

    //     Prova.NomeProfessor = "Prof. Exemplo";
    //     Prova.QuantidadeAlunos = 30;
    //     Prova.QuantidadePerguntas = 10;
    //     Prova.Perguntas = new List<Pergunta>
    //     {
    //         new Pergunta
    //         {
    //             Imagem = "caminho/para/imagem.jpg",
    //             Questoes = new List<string> { "Questão 1", "Questão 2", "Questão 3" },
    //             RespostaCorreta = "Questão 2"
    //         },
    //         new Pergunta
    //         {
    //             Imagem = "caminho/para/imagem.jpg",
    //             Questoes = new List<string> { "Questão 2", "Questão 2", "Questão 3" },
    //             RespostaCorreta = "Questão 2"
    //         },
    //         new Pergunta
    //         {
    //             Imagem = "caminho/para/imagem.jpg",
    //             Questoes = new List<string> { "Questão 23", "Questão 2", "Questão 3" },
    //             RespostaCorreta = "Questão 2"
    //         },

    //     };
    // }

}
