@page "/CriarPerguntasProva"

@inject ProvaService Prova
@inject IDialogService DialogService


@if (mostrarAlert)
{
    <MudAlert Severity="Severity.Error"
              ContentAlignment="HorizontalAlignment.Center"
              ShowCloseIcon="true" CloseIconClicked="(() => CloseMe(false))">
        @Erros
    </MudAlert>
}
else @if (string.IsNullOrEmpty(Prova.ProvaInstancia.NomeProfessor))
{
    <MudText Typo="Typo.h3"
             Class="d-flex align-center justify-center"
             Color="Color.Warning">
        Não existe uma prova!!!
    </MudText>

    <MudButton ButtonType="ButtonType.Button"
               Variant="Variant.Filled"
               Color="Color.Error"
               Size="Size.Small"
               Href="/CriarProva"
               Class="d-flex align-center"
               Style="margin-top: 15px;">
        Clique Aqui para Criar uma Prova
    </MudButton>
}
else
{

    <MudPaper Height="100%" Width="100%">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudForm @ref="@form" @bind-IsValid="@success" @bind-Errors="@errors">

                <div class="mb-5">
                    <MudPaper>
                        <MudText Class="mt-5 mud-spacing-md pd-4">
                            <b>Digite o Enunciado da {@NumeroQuestao} Questão </b>
                        </MudText>
                        <MudTextField @bind-Value="UmaPergunta.EnunciadoDaPergunta"
                                      Lines="2"
                                      T="string"
                                      Required="true"
                                      RequiredError="Campo Obrigatorio"
                                      Label="Enunciado da Questão"
                                      Variant="Variant.Text" />
                    </MudPaper>
                </div>

                <div class="mb-3 mt-5">
                    <MudGrid>
                        <MudItem xs="12" Class="mud-elevation-4 mud-spacing">
                            <MudPaper>
                                <MudTextField @bind-Value="AlternativaModel1!.TextoDasAlternativa"
                                              Required="true"
                                              RequiredError="Campo Obrigatório"
                                              Lines="3"
                                              Label="Alternativa A"
                                              InputType="InputType.Text"
                                              Variant="Variant.Text"
                                              Disabled="@AlternativaModel1!.alternativaAdicionada" />
                            </MudPaper>
                            <MudRadioGroup @bind-Value="AlternativaModel1.IsCorreta"
                                           Required="true">
                                <MudRadio Value="true"
                                          Color="Color.Secondary"
                                          Size="Size.Large"
                                          @onchange="(e) => MarcarAlternativaComoCorreta(AlternativaModel1)">
                                    Alternativa Correta?
                                </MudRadio>
                            </MudRadioGroup>
                        </MudItem>
                        <MudItem xs="12">
                            <div class="mt-5 mb-4">
                                <MudButton OnClick="(() => AdicionarAlternativa(AlternativaModel1!))"
                                           Variant="Variant.Filled"
                                           Color="Color.Success"
                                           Disabled="@AlternativaModel1!.alternativaAdicionada">
                                    Adicionar Alternataiva A
                                </MudButton>
                            </div>
                        </MudItem>
                    </MudGrid>
                </div>

                <div class="mb-3">
                    <MudGrid>
                        <MudItem xs="12" Class="mud-elevation-4 mud-spacing">
                            <MudPaper>
                                <MudTextField @bind-Value="AlternativaModel2!.TextoDasAlternativa"
                                              Required="true"
                                              RequiredError="Campo Obrigatório"
                                              Lines="3"
                                              Variant="Variant.Text"
                                              Label="Alternativa B"
                                              InputType="InputType.Text"
                                              Disabled="@AlternativaModel2.alternativaAdicionada" />
                            </MudPaper>
                            <MudRadioGroup @bind-Value="AlternativaModel2.IsCorreta"
                                           Required="true" RequiredError="Campo obrigado">
                                <MudRadio Value="true"
                                          Color="Color.Secondary"
                                          Size="Size.Large"
                                          @onchange="(e) => MarcarAlternativaComoCorreta(AlternativaModel2)">
                                    Alternativa Correta?
                                </MudRadio>
                            </MudRadioGroup>
                        </MudItem>
                        <MudItem xs="12">
                            <div class="mt-5 mb-4">
                                <MudButton OnClick="(() => AdicionarAlternativa(AlternativaModel2))"
                                           Variant="Variant.Filled"
                                           Color="Color.Success"
                                           Disabled="@AlternativaModel2.alternativaAdicionada">
                                    Adicionar Alternataiva B
                                </MudButton>
                            </div>
                        </MudItem>
                    </MudGrid>
                </div>

                <div class="mb-3">
                    <MudGrid>
                        <MudItem xs="12" Class="mud-elevation-4 mud-spacing">
                            <MudPaper>
                                <MudTextField @bind-Value="AlternativaModel3!.TextoDasAlternativa"
                                              Required="true"
                                              RequiredError="Campo Obrigatório"
                                              Lines="3"
                                              Label="Alternativa C"
                                              Variant="Variant.Text"
                                              InputType="InputType.Text"
                                              Disabled="@AlternativaModel3.alternativaAdicionada" />
                            </MudPaper>
                            <MudRadioGroup @bind-Value="AlternativaModel3.IsCorreta">
                                <MudRadio Value="true"
                                          Color="Color.Secondary"
                                          @onchange="(e) => MarcarAlternativaComoCorreta(AlternativaModel3)"
                                          Size="Size.Large">
                                    Alternativa Correta?
                                </MudRadio>
                            </MudRadioGroup>
                        </MudItem>
                        <MudItem xs="12">
                            <div class="mt-5 mb-4">
                                <MudButton OnClick="(() => AdicionarAlternativa(AlternativaModel3))"
                                           Variant="Variant.Filled"
                                           Color="Color.Success"
                                           Disabled="@AlternativaModel3.alternativaAdicionada">
                                    Adicionar Alternataiva C
                                </MudButton>
                            </div>
                        </MudItem>
                    </MudGrid>
                </div>

                <div class="mb-3">
                    <MudGrid>
                        <MudItem xs="12" Class="mud-elevation-4 mud-spacing">
                            <MudPaper>
                                <MudTextField @bind-Value="AlternativaModel4!.TextoDasAlternativa"
                                              Required="true"
                                              RequiredError="Campo Obrigatório"
                                              Lines="3"
                                              Label="Alternativa D"
                                              Variant="Variant.Text"
                                              Disabled="@AlternativaModel4.alternativaAdicionada"
                                              InputType="InputType.Text" />
                            </MudPaper>
                            <MudRadioGroup @bind-Value="AlternativaModel4!.IsCorreta">
                                <MudRadio Value="true"
                                          Color="Color.Secondary"
                                          Size="Size.Large"
                                          @onchange="(e) => MarcarAlternativaComoCorreta(AlternativaModel4)">
                                    Alternativa Correta?
                                </MudRadio>
                            </MudRadioGroup>
                        </MudItem>
                        <MudItem xs="12">
                            <div class="mt-5 mb-4">
                                <MudButton OnClick="(() => AdicionarAlternativa(AlternativaModel4))"
                                           Variant="Variant.Filled"
                                           Color="Color.Success"
                                           Disabled="@AlternativaModel4.alternativaAdicionada">
                                    Adicionar Alternataiva D
                                </MudButton>
                            </div>
                        </MudItem>
                    </MudGrid>
                </div>

                <div class="d-flex align-center justify-center">
                    <MudButton OnClick="(()=> AddPerguntaNaProva())"
                               Variant="Variant.Filled"
                               Color="Color.Success"
                               Style="margin-bottom: 20px; margin-top: 15px"
                               Disabled="@habilitarBotaoAddPergunta">
                        Adicionar Pergunta
                    </MudButton>
                </div>

            </MudForm>
        </MudContainer>
    </MudPaper>

}





@code {
    [Inject]
    public NavigationManager? NavigationManager { get; set; }

    [Parameter]
    public int? NumeroQuestao { get; set; }

    MudForm form = new MudForm();

    public Questao UmaQuestao { get; set; } = new();

    public List<Questao> ListaQuestoes { get; set; } = new List<Questao>();

    public Alternativa? AlternativaModel1 { get; set; } = new()
        {
            OpcaoAlternativa = EOpcaoAlternativa.A
        };

    public Alternativa AlternativaModel2 { get; set; } = new()
        {
            OpcaoAlternativa = EOpcaoAlternativa.B
        };

    public Alternativa AlternativaModel3 { get; set; } = new()
        {
            OpcaoAlternativa = EOpcaoAlternativa.C
        };

    public Alternativa AlternativaModel4 { get; set; } = new()
        {
            OpcaoAlternativa = EOpcaoAlternativa.D
        };

    public List<Alternativa> ListaAlternativas { get; set; } = new();


    public List<Pergunta> ListaPerguntas { get; set; } = new();

    public Pergunta UmaPergunta { get; set; } = new();


    bool success;
    string[ ] errors = { };


    bool desabilitarAlternativas = false;

    bool habilitarBotaoAddPergunta = true;

    bool botaoADDProvaCorreta = false;


    bool mostrarDialog = false;


    public string? Erros { get; set; } = string.Empty;
    public string? Success { get; set; } = string.Empty;

    private bool mostrarAlert = false;
    private bool fecharAlert = false;


    protected override void OnInitialized( )
    {
        ListaAlternativas.Add(AlternativaModel1!);
        ListaAlternativas.Add(AlternativaModel2);
        ListaAlternativas.Add(AlternativaModel3);
        ListaAlternativas.Add(AlternativaModel4);

    }


    private void MarcarAlternativaComoCorreta(Alternativa alternativaSelecionada)
    {
        alternativaSelecionada.IsCorreta = true;

        foreach (var alternativa in ListaAlternativas)
        {
            if (alternativa != alternativaSelecionada)
            {
                alternativa.IsCorreta = false;
            }
        }
    }


    private void AdicionarAlternativa(Alternativa alternativa)
    {
        if (!string.IsNullOrWhiteSpace(alternativa.TextoDasAlternativa))
        {
            alternativa.alternativaAdicionada = true;
            AddAlternativaNaPergunta(alternativa);
        }
    }


    private void AddAlternativaNaPergunta(Alternativa alternativaModel)
    {
        if (ListaAlternativas.All(x => !string.IsNullOrWhiteSpace(x.TextoDasAlternativa)))
        {
            desabilitarAlternativas = true;
            habilitarBotaoAddPergunta = false;
        }
    }

    private void AddPerguntaNaProva()
    {
        if(ListaAlternativas.All(x => x.IsCorreta == false))
        {
            OpenDialog("Escolha 1 alternativa como Correta");
        }

        if (ListaAlternativas.Count() > 0 && ListaAlternativas.Any(x => x.IsCorreta == true))
        {
            UmaQuestao.ListaAlternativas.AddRange(ListaAlternativas);

            ListaQuestoes.Add(UmaQuestao);

            UmaPergunta.Questoes.AddRange(ListaQuestoes);

            ListaPerguntas.Add(UmaPergunta);

            Prova.ProvaInstancia.Perguntas.AddRange(ListaPerguntas);

            habilitarBotaoAddPergunta = true;

            VerificarProvaQntERedirecionar();
        }
        // else
        // {
        //     habilitarBotaoAddPergunta = false;
        //     Erros = "Erro ao adicionar Questão!";
        //     ShowAlerts();
        // }


    }


    private void VerificarProvaQntERedirecionar( )
    {
        if (Prova.ProvaInstancia.Perguntas.Count() == Prova.ProvaInstancia.QuantidadePerguntas)
        {
            NavigationManager!.NavigateTo("/VerificarProva");
        }
    }


    private void OpenDialog(string texto)
    {
        DialogService.Show<DialogGenerico>(texto);
    }


    private void CloseMe(bool value)
    {
        if (value)
        {
            fecharAlert = false;
        }
        else
        {
            mostrarAlert = false;
        }
    }
    private void ShowAlerts( )
    {
        mostrarAlert = true;
        fecharAlert = true;
    }

}

