@page "/RealizarProva"
@inject ProvaService Prova
@inject IDialogService DialogService

@if (Prova.ProvaInstancia.Perguntas.Count() == 0)
{
    <MudContainer>
        <MudText Typo="Typo.h3"
                 Align="Align.Center"
                 Style="margin-top: 18px;"
                 Color="Color.Warning">
            <b>Não há uma Prova criada!</b>
        </MudText>

        <div class="d-flex justify-center align-center;">
            <MudButton ButtonType="ButtonType.Button"
                       Variant="Variant.Filled"
                       Color="Color.Error"
                       Href="/CriarPerguntas"
                       Style="margin-top: 15px; font-size: 35px; border-radius: 19px;">
                Clique Aqui para Criar um Prova!
            </MudButton>
        </div>
    </MudContainer>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudPaper Elevation="15" Height="100%" Width="100%" Class="pa-16 ma-2" Outlined="true"
                  Style="@($"color:{Theme.Palette.Tertiary}; background:{Colors.Shades.White};")">

            @foreach (var pergunta in Prova.ProvaInstancia.Perguntas)
            {
                <MudText Align="Align.Start"
                         Style="@($"color:{Theme.Palette.DarkDarken}; font-size: 30px; margin-bottom: 10px;")"
                         Class="QuebraLinha">
                    <b>(@pergunta.NumeroPergunta)@pergunta.EnunciadoDaPergunta</b>
                </MudText>
                @foreach (var questao in pergunta.Questoes)
                {
                    @foreach (var alternativa in questao.ListaAlternativas)
                    {
                        <MudItem xs="12" Class=" mud-elevation-4 mud-spacing">
                            <MudPaper Class="d-flex align-center justify-between mud-width-full py-8"
                                      Style="margin-bottom: 20px;"  Width="100%">
                                <MudRadioGroup @bind-Value="AlternativaProva!.IsCorreta"
                                               Style="margin-left: 15px"
                                               Required="true"
                                               RequiredError="Campo obrigado">
                                    <MudRadio Value="true"
                                              Color="Color.Secondary"
                                              Size="Size.Large"
                                              @onchange="(e) => GabaritoProva(pergunta, alternativa)">
                                    </MudRadio>
                                </MudRadioGroup>
                                    <MudText Class="QuebraLinha"
                                         Style="@($"color:{Theme.Palette.Dark}; background:{Colors.Shades.White}; font-size: 25px; Width: 80%;")"
                                          Align="Align.Start"><b>@alternativa.OpcaoAlternativa)</b>@alternativa.TextoDasAlternativa
                                </MudText>
                            </MudPaper>
                        </MudItem>
                    }
                    <MudDivider Style="@($"color:{Theme.Palette.Dark}; background:{Colors.Shades.White}; margin-top: 20px;margin-bottom: 30px")">
                    </MudDivider>
                }
            }

            <div class="d-flex align-center justify-center">
                <MudButton Variant="Variant.Filled" Color="Color.Success"
                           Class="d-flex align-center justify-center"
                           OnClick="ConfirmarEnvio"
                           Style="border-radius: 12px; font-size: 30px">
                    Enviar Prova
                </MudButton>
            </div>
        </MudPaper>
    </MudContainer>

}
@code {
    public MudTheme Theme = new MudTheme();


    public RespostasDaProva? ProvaResposta { get; set; } = new();

    public Alternativa? AlternativaProva { get; set; } = new();

 

    private void GabaritoProva(Pergunta pergunta, Alternativa alternativa)
    {
        if (AlternativaProva!.IsCorreta == true)
        {
            ProvaResposta!.NumeroPergunta.Add(pergunta.NumeroPergunta);
            ProvaResposta.QntAcertos += 1;
        }
    }

    private void ConfirmarEnvio( )
    {
        var teste = AlternativaProva;
        var diagloParams = new DialogParameters<DialogGenerico>()
        {
            {x => x.Titulo, "Confirmação Prova"},
            {x => x.Conteudo, "Digite o código acima para enviar a prova"}
        };
        var diagloOptions = new DialogOptions()
            {
                CloseButton = false,
                MaxWidth = MaxWidth.ExtraSmall,
                Position = DialogPosition.Center,

            };

        DialogService.Show<DialogGenerico>(" ", diagloParams, diagloOptions);
    }


}


