@page "/VerificarProva"

@inject ProvaService ProvaFinal
@inject NavigationManager NavigationManager

@if (ProvaFinal.ProvaInstancia.Perguntas.Count() == 0)
{
        <MudText Typo="Typo.h3"
                 Class="d-flex align-center justify-center"
                 Color="Color.Warning">
            Não há perguntas criadas!
        </MudText>

        <MudButton ButtonType="ButtonType.Button"
                   Variant="Variant.Filled"
                   Color="Color.Error"
                   Size="Size.Small"
                   Href="/CriarPerguntas"
                   Class="d-flex align-center"
                   Style="margin-top: 15px;">
            Clique Aqui para Adicionar Perguntas
        </MudButton>

}
else
{

    <MudPaper Class="mt-3" Height="100%;" Width="100%;">
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudText Typo="Typo.h4" Color="Color.Tertiary" Style="margin-bottom: 25px;">

                <MudText> @ProvaFinal.ProvaInstancia.NomeProfessor
                    Confirme o envio das Perguntas!!!
                </MudText>
            </MudText>

            @foreach (var pergunta in ListaPerguntas)
            {
                <h3>@pergunta.EnunciadoDaPergunta</h3>
                @foreach (var questao in pergunta.Questoes)
                {
                    <MudText Typo="Typo.h5">
                        @questao.EnunciadoQuestao
                        @questao.ListaAlternativas
                    </MudText>
                    @foreach (var alternativa in questao.ListaAlternativas)
                    {
                        <MudText Typo="Typo.h5">
                            @alternativa.OpcaoAlternativa.ToString()) @alternativa.TextoDasAlternativa
                        </MudText>
                    }
                }
            }
        </MudContainer>
    </MudPaper>
}



@code {

    public Pergunta PerguntaAtual { get; set; } = new();

    public List<Pergunta> ListaPerguntas { get; set; } = new();


    public bool Basic_CheckBox1 { get; set; } = false;

    protected override void OnInitialized( )
    {
        ListaPerguntas = ProvaFinal.ProvaInstancia.Perguntas;
    }
}


